@tailwind base;
@tailwind components;
@tailwind utilities;  


/* @layer utilities{
  
} */

body{
    @apply dark:bg-gray-800
}
.loading{
  background: rgba(0, 0, 0, 0.623);
     
}
.hero-container{
@apply container
}
.text-shadow{
    text-shadow: 1px 0px 6px rgb(61, 61, 61);}

    /* .breath{
        margin: 40px 0;
    } */


        

    li{
        list-style-type:none ;
    }


    .bg-black-transparant{
        background: rgba(0, 0, 0, 0.425);
    }

    .popup-btn{
        border: none;
        outline: none;
        background-color: #ffb902;
        color: black;
        padding: 12px 22px;
        border-radius: 6px;
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 18px;
        cursor: pointer;
        font-weight: bold;
        margin-top: 310px;
        transition: all ease 0.3s;
    }
    .popup-btn:hover{
        background: #dda50a;
    }
    .popup-meal-name{
        color: rgb(94, 87, 0);
        @apply font-extrabold text-xl dark:text-yellow-600
    }

    .dish-ing-li{
        background: black;
        color:white;
        padding: 8px 12px;
        border-radius:10px;
        font-size: 14px;
        margin-right: 12px;
        margin-top: 5px;
        @apply dark:bg-white dark:text-black
    }
    .fade{
        position: absolute; bottom: 0; width: 100%; height: 150px; z-index: 2; background: rgba(255, 255, 255, 0) linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 80%) repeat scroll 0 0;  }
    img{
        user-select: none;
    }